[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
tensorflow = "*"
scikit-learn = "*"
matplotlib = "*"
pickle5 = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.10"
